/* Layout not used for all the html pages */
section {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 60px 60px 60px;
    grid-gap: 20px;
    padding: 40px 40px;
    grid-template-areas: 'ff  fs' 'sf ss' 'tf ts';
}